<section class="header">
    <div class="channels-menu-wrapper {{ contentCorrectionClasses }}">{{{ channelsMenu }}}</div>
</section>

<header class='header'>
    <ul class='top-panel {{ contentCorrectionClasses }}'>
        <li class='top-menu-item top-menu-item-left'><img src="/assets/images/logo.png" class="logo"/></li>
        <li class='top-menu-item top-menu-item-center'>
            <div class='menu-trigger'><a href="/" class="menu-trigger-link">{{{ channel.name }}} <img class="toggler-sign" src="/assets/images/selector.svg"/></a></div>
        </li>
        <li class='top-menu-item top-menu-item-right'>
            <div class="app-button"><a class="get-free-app-button" href="http://www.getdrivenow.com/?ref=header">Get Free App</a></div></li>
    </ul>
</header>

<section class="content {{ contentCorrectionClasses }}" id="posts-wrapper">
    <div id="scrolling-content-wrapper">
        <ul>
            {{{ content }}}
        </ul>
        <div class='content-preloader'><img src='/assets/images/loader.gif' class='loader'/></div>
    </div>
</section>


<script type="text/javascript" id='sharedData'>
    window.__sharedData__ = {{{ sharedData }}};
    // TODO: use handlebars instead
    if(window.__sharedData__.postId) {
        $('.content-preloader').hide();
    }
</script>