<section class="header">
    <div class="top-panel {{ contentCorrectionClasses }}">
        <div class="logo">{{{ logo }}}</div>
        <ul class="top-menu-wrapper">
            <li class="channels-menu-channel-name-wrapper"><span class="channels-menu-channel-name">{{{ channelName }}}</span></li>
            <li class="channels-menu-toggler" id="channels-menu-toggler">^</li>
            <li class="get-free-app-wrapper"><a class="get-free-app" href="http://www.getdrivenow.com/?ref=header">Get Free App</a></li>
        </ul>
    </div>
</section>

<script type="text/javascript" id='sharedData'>
    window.__sharedData__ = {{{ sharedData }}};
</script>

<section class="channels-menu-wrapper">{{{ channelsMenu }}}</section>
<section class="content {{ contentCorrectionClasses }}" id="posts-wrapper">
    <div id="scrolling-content-wrapper">
        <ul>
            {{{ content }}}
        </ul>
        <div class='content-preloader'><img src='/assets/images/loader.gif' class='loader'/></div>
    </div>
</section>