<section class="header">
    <div class="channels-menu-wrapper {{ contentCorrectionClasses }}">{{{ channelsMenu }}}</div>
</section>

<header class='header'>
    <ul class='top-panel {{ contentCorrectionClasses }}'>
        <li class='top-menu-item top-menu-item-left'>
            <a class="logo" href="/">
                <img src="/assets/images/logo.png" class="logo__image"/>
            </a>
        </li>
        <li class='top-menu-item top-menu-item-center'>
            <div class='menu-trigger'><a href="/" class="menu-trigger-link">{{{ channel.name }}} <img class="toggler-sign" src="/assets/images/selector.svg"/></a></div>
        </li>
        <li class='top-menu-item top-menu-item-right'>
            <div class="app-button"><a class="get-free-app-button" href="http://www.getdrivenow.com/?ref=header">Get Free App</a></div></li>
    </ul>
</header>

<div class="notification" id="notification"></div>

<section class="content {{ contentCorrectionClasses }}" id="posts-wrapper">
    <div id="scrolling-content-wrapper">
        <ul id="posts-container">
            {{{ content }}}
        </ul>
        <div class='content-preloader'>
            <div class="sk-fading-circle">
                <div class="sk-circle1 sk-circle"></div>
                <div class="sk-circle2 sk-circle"></div>
                <div class="sk-circle3 sk-circle"></div>
                <div class="sk-circle4 sk-circle"></div>
                <div class="sk-circle5 sk-circle"></div>
                <div class="sk-circle6 sk-circle"></div>
                <div class="sk-circle7 sk-circle"></div>
                <div class="sk-circle8 sk-circle"></div>
                <div class="sk-circle9 sk-circle"></div>
                <div class="sk-circle10 sk-circle"></div>
                <div class="sk-circle11 sk-circle"></div>
                <div class="sk-circle12 sk-circle"></div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" id='sharedData'>
    window.__sharedData__ = {{{ sharedData }}};
    // TODO: use handlebars instead
    if(window.__sharedData__.postId) {
        $('.content-preloader').hide();
    }
</script>