<section class="header">
    <div class="top-panel {{ contentCorrectionClasses }}">
        <div class="logo">{{{ logo }}}</div>
        <ul class="top-menu-wrapper">
            <li class="channels-menu-channel-name">{{{ channelName }}}</li>
            <li class="channels-menu-toggler" id="channels-menu-toggler">^</li>
        </ul>
    </div>
</section>

<section class="channels-menu-wrapper">{{{ channelsMenu }}}</section>
<section class="content {{ contentCorrectionClasses }}">{{{ content }}}</section>