<li class="post row">
    <div class="channels-references">
    {{{ ChannelReferences }}}
    </div>

    <div class="post-title">
        <a class=" 
        {{#if IsSinglePost}}
            post-title-correction
        {{/if}}
        post-title-link
        " href="/posts/{{ Id }}">{{ Title }}</a>
    </div>

    <a href="/posts/{{ Id }}" class="post-content-link">
        <div class="post-content
        {{#if IsSinglePost}}
            post-content-correction
        {{/if}}
        " id="{{ Id }}-post">{{{ Content }}}</div>
    </a>

    {{#if VideoUrl}}
        <div class="post-images-video">
            <iframe class="post-video" width="100%" height="100%" src="{{ VideoUrl }}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    {{/if}}

    {{#if Images}}
        <div class="post-images-container">
            <div class="post-images post-images-num{{ ImagesCount }}">
                {{#each Images}}
                <div class="post-images-item">
                    <img src="{{ this.[2].Url }}" style='display:none'/>
                    <span>
                        <a data-id='zoom' class="post-images-item-link"
                        {{#unless ../IsSinglePost}}
                            href="{{ this.[2].Url }}" 
                        {{/unless}}
                        id="{{ this.[0].Id }}-link" 
                        style="background-image:url({{ this.[1].Url }})">
                            <img src="{{ this.[1].Url }}">
                        </a>
                    </span>
                    {{#unless ../IsSinglePost}}
                        <script>
                            createMagnificPopup('#{{ this.[0].Id }}-link');
                        </script>
                    {{/unless}}
                </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{{ Voting }}}
    
    {{{ Comments }}}

    <script>
        twemojiParse('{{ Id }}-post', '{{ Id }}-post-comments');
    </script>

    <hr class="post-delimiter clearfix" />
    
    {{#if IsSinglePost}}
    <div class="social-buttons">
        <div class="likely">
            <div class="twitter">Tweet</div>
            <div class="facebook">Share</div>
            <div class="gplus">+1</div>
        </div>
    </div>
    {{/if}}
</li>