<div class="post">
    <div class="channels-references">
    {{{ ChannelReferences }}}
    </div>

    <div class="post-title">
        <a class="post-title-link" href="/posts/{{ Id }}">{{ Title }}</a>
    </div>

    <div class="post-content post-content-link js-link" onclick="">{{ Content }}</div>

    {{#if VideoUrl}}
        <div class="post-images-video">
            <iframe class="post-video" width="100%" height="100%" src="{{ VideoUrl }}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    {{/if}}

    {{#if Images}}
        <div class="post-images-container">
            <div class="post-images post-images-num{{ ImagesCount }}">
                {{#each Images}}
                <div class="post-images-item">
                    <span>
                        <a data-id='zoom' href="{{ this.[2].Url }}" id="{{ this.[0].Id }}-link" style="background-image:url({{ this.[1].Url }})">
                            <img src="{{ this.[1].Url }}">
                        </a>
                    </span>
                </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{{ Voting }}}
</div>
<hr class="post-delimiter" />