<li class="post row">
    <div class="channels-references">
    {{{ ChannelReferences }}}
    </div>

    <div class="post-title">
        <a class=" 
        {{#if TitleCorrection}}
            post-title-correction
        {{/if}}
        post-title-link
        " href="/posts/{{ Id }}">{{ Title }}</a>
    </div>

    <a href="/posts/{{ Id }}" class="post-content-link">
        <div class="post-content
        {{#if TitleCorrection}}
            post-content-correction
        {{/if}}
        " id="{{ Id }}-post">{{ Content }}</div>
    </a>

    {{#if VideoUrl}}
        <div class="post-images-video">
            <iframe class="post-video" width="100%" height="100%" src="{{ VideoUrl }}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    {{/if}}

    {{#if Images}}
        <div class="post-images-container">
            <div class="post-images post-images-num{{ ImagesCount }}">
                {{#each Images}}
                <div class="post-images-item">
                    <img src="{{ this.[2].Url }}" style='display:none'/>
                    <span>
                        <a data-id='zoom' class="post-images-item-link"
                        {{#if ../HasClicableImages}}
                            href="{{ this.[2].Url }}" 
                        {{/if}}
                        id="{{ this.[0].Id }}-link" 
                        style="background-image:url({{ this.[1].Url }})">
                            <img src="{{ this.[1].Url }}">
                        </a>
                    </span>
                    {{#if ../HasClicableImages}}
                        <script>
                            createMagnificPopup('#{{ this.[0].Id }}-link');
                        </script>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{{ Voting }}}

    <div class="post-comments-wrapper">
        <ul class="post-comments">
        {{#each Comments}}
            <li class="post-comments-item">
                <img class="post-comment-avatar" src={{ AuthorAvatar }} />
                <!-- <span class="post-comment-nickname">{{ AuthorNickname }}</span> -->
                <span class="post-comment-content">{{ Content }}</span>
            </li>
        {{/each}}
        </ul>
    </div>

    <script>
        twemojiParse('{{ Id }}-post');
    </script>

    <hr class="post-delimiter" />
</li>