<li class="post row">
    <div class="channels-references">
    {{{ ChannelReferences }}}
    </div>

    <div class="post-title">
        <a class="post-title-link" href="/posts/{{ Id }}">{{ Title }}</a>
    </div>

    <div class="post-content post-content-link js-link" id="{{ Id }}-post">{{ Content }}</div>

    {{#if VideoUrl}}
        <div class="post-images-video">
            <iframe class="post-video" width="100%" height="100%" src="{{ VideoUrl }}" frameborder="0" allowfullscreen=""></iframe>
        </div>
    {{/if}}

    {{#if Images}}
        <div class="post-images-container">
            <div class="post-images post-images-num{{ ImagesCount }}">
                {{#each Images}}
                <div class="post-images-item">
                    <img src="{{ this.[2].Url }}" style='display:none'/>
                    <span>
                        <a data-id='zoom' 
                        {{#if ../HasClicableImages}}
                            href="{{ this.[2].Url }}" 
                        {{/if}}
                        id="{{ this.[0].Id }}-link" 
                        style="background-image:url({{ this.[1].Url }})">
                            <img src="{{ this.[1].Url }}">
                        </a>
                    </span>
                    {{#if ../HasClicableImages}}
                        <script>
                            createMagnificPopup('#{{ this.[0].Id }}-link');
                        </script>
                    {{/if}}
                </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    {{{ Voting }}}

    <script>
        twemojiParse('{{ Id }}-post');
    </script>

    <hr class="post-delimiter" />
</li>