<div class="post-voting" id="{{ Id }}-voting">
    <div class="post-voting-header">{{ Header }} {{ OveralVotes }}</div>
    {{#each Options}}
    <div class="post-voting-option  
        {{#if isOptionMax}}
            post-voting-option-max 
        {{/if}}
        {{#if Correct}}
            post-voting-option-correct
        {{/if}}
            post-voting-option-closed
    ">
        <div class="post-voting-bar" style="width: {{ votingPercent  }}%;"></div>
        <div class="post-voting-body">
            <span class="post-voting-num">{{ votingNum }}</span>
            <span class="post-voting-percent">{{ votingPercent  }}%</span>
            <span class="post-voting-caption">{{ votingCaption }}</span>
        </div>
    </div>
    <span class='post-voting-caption-teaser'>{{ votingCaption }}</span>
    <div class="clearfix" />
    {{/each}}
    <script>
        showVotingResultsOnClick("{{ Id }}-voting");
    </script
</div>