<div class="post" data-id="FTdWTu547ix0eu9yPUpFPw">
    <div class="post-controls">
        <a href="http://i.drive.net/p/FTdWTu547ix0eu9yPUpFPw" class="post-button" target="_blank">Permalink</a>
        <a href="#editform/FTdWTu547ix0eu9yPUpFPw" class="post-button js-editbtn">Edit</a>
        <button class="post-button js-deletebtn">Delete</button>
        <label class="post-featured">
        <input class="js-featured" type="checkbox" checked=""> Featured</label>
        </div>

        <div class="post-avatar"><img src="/assets/images/default-avatar-120x120.png"></div>
        <div class="post-author"></div>

        <div class="post-timestamp" title="{{ CreatedOn }}">
            <span class="js-link" onclick="">{{ CreatedAgo }}</span>
        </div>

        <div class="post-title">
            <span class="js-link" onclick="">TITLE::: {{ Title }}</span>
        </div>

        <div class="post-content post-content-link js-link" onclick="">{{ Content }}</div>

        {{#if VideoUrl}}
            <div class="post-images-video">
                <iframe class="post-video" width="100%" height="100%" src="{{ VideoUrl }}" frameborder="0" allowfullscreen=""></iframe>
            </div>
        {{/if}}

        {{#if Images}}
            <div class="post-images-container">
                <div class="post-images post-images-num{{ imagesCount }}">
                    {{#each Images}}
                    <div class="post-images-item">
                        <span>
                            <a class="zoompic" href="{{ this.[1].Url }}" style="background-image:url({{ this.[0].Url }})" data-zoominited="">
                                <img src="{{ this.[2].Url }}">
                            </a>
                        </span>
                    </div>
                    {{/each}}
                </div>
            </div>
        {{/if}}


</div>